<h1>Camera Assignment Dashboard</h1>
<h4>Assignments</h4>

<table mat-table [dataSource]="currentAssignments" class="mat-elevation-z8">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Assignment Id.</th>
    <td mat-cell *matCellDef="let element"> {{element.id}} </td>
  </ng-container>

  <ng-container matColumnDef="cameraId">
    <th mat-header-cell *matHeaderCellDef>Camera</th>
    <td mat-cell *matCellDef="let element"> {{element.cameraId}} </td>
  </ng-container>

  <ng-container matColumnDef="vehicleId">
    <th mat-header-cell *matHeaderCellDef>Vehicle</th>
    <td mat-cell *matCellDef="let element"> {{element.vehicleName}} </td>
  </ng-container>

  <ng-container matColumnDef="DateCreated">
    <th mat-header-cell *matHeaderCellDef>Date</th>
    <td mat-cell *matCellDef="let element"> {{element.DateCreated | date: 'medium'}} </td>
  </ng-container>

  <ng-container matColumnDef="Deleted">
    <th mat-header-cell *matHeaderCellDef>Deleted</th>
    <td mat-cell *matCellDef="let element"> {{element.Deleted}} </td>
  </ng-container>

  <ng-container matColumnDef="Delete">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let element"> <i (click)="deleteAssignment(element.id)" class="fa fa-trash hover-red pointer"></i></td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>


<!-- <h4>Vehicles</h4>
<div class="grid grid-pad">
  <a *ngFor="let vehicle of currentVehicles"  class="col-1-4">
      <div>
          <h4>{{vehicle | json}}</h4>
      </div>
  </a>
</div> -->

<!-- <h4>Cameras</h4>
<div class="grid grid-pad">
  <a *ngFor="let camera of currentCameras"  class="col-1-4">
      <div>
          <h4>{{camera | json}}</h4>
      </div>
  </a>
</div> -->
<br>
<button (click)="createAssignment()">Add assignment</button>
<button (click)="openDialog()">Open dialog</button>
