<h1>Camera Assignment Dashboard</h1>
<h4>Assignments</h4>
<div class="grid grid-pad">
  <a *ngFor="let currentAssignment of currentAssignments"  class="col-1-4">
      <div>
          <h4>{{currentAssignment | json}}</h4>
      </div>
  </a>
</div>

<h4>Vehicles</h4>
<div class="grid grid-pad">
  <a *ngFor="let vehicle of currentVehicles"  class="col-1-4">
      <div>
          <h4>{{vehicle | json}}</h4>
      </div>
  </a>
</div>

<h4>Cameras</h4>
<div class="grid grid-pad">
  <a *ngFor="let camera of currentCameras"  class="col-1-4">
      <div>
          <h4>{{camera | json}}</h4>
      </div>
  </a>
</div>

<button (click)="createAssignment()">Add assignment</button>
<button (click)="deleteAssignment(1)">Delete assignment</button>