<h3>Assign a camera to a vehicle</h3>
<mat-dialog-actions>
  <a class="dialog-close" (click)="dialogRef.close()"></a>
</mat-dialog-actions>

<form [formGroup]="assignmentForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="input-class">
    <mat-label>Select a vehicle:</mat-label>
    <mat-select formControlName="vehicleId" required>
      <mat-option *ngFor="let item of data.vehicles" [value]="item.id">
        {{item.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  <mat-form-field class="input-class">
    <mat-label>Select a camera:</mat-label>
    <mat-select formControlName="cameraId" required>
      <mat-option *ngFor="let item of data.cameras" [value]="item.id">
        {{item.deviceNumber}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <br>
  <button type="submit" [disabled]="!assignmentForm.valid" mat-raised-button>Create Camera Assignment</button>
</form>

<div *ngIf="assignmentError">
  <div *ngIf="camerIdMatch && vehicleIdMatch">
    The camera AND vehicle you chose are already assigned.
  </div>
  <div *ngIf="camerIdMatch && !vehicleIdMatch">
    The CAMERA you chose is already assigned
  </div>
  <div *ngIf="!camerIdMatch && vehicleIdMatch">
      The VEHICLE you chose is already assigned
  </div>
</div>