/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles";

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

table {
    width: 100%;
  }

table tr:hover {
    background-color: grey;
}

.mat-header-row:hover {
    background-color:rgb(255, 255, 255);
}

/* helper classes */
.hover-red:hover {
    color: red;
}

.pointer {
    cursor: pointer;
}

.dialog-close {
    position: relative;
    left: 97%;
    bottom: 90px;
    cursor: pointer;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
}

.dialog-close::before {
    content: '×';
  }