/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles";

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

table {
    width: 100%;
  }

table tr:hover {
    background-color: #f5f5f5;
    background-color: #6bafa6;
}

.mat-header-row:hover {
    background-color:rgb(255, 255, 255);
}

.dialog-close {
    position: relative;
    left: 97%;
    bottom: 50px;
    cursor: pointer;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
}

.dialog-close::before {
    content: '×';
}

.margin-top-10 {
    margin-top: 10px;
}


.fixBtn {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 9999;
    cursor: pointer;
    font-weight: 700;
}

.fixBtn .create-assignment-button {
    text-align: center;
    background-color: #265982;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2), 0 8px 10px 1px rgba(0,0,0,.14), 0 3px 14px 2px rgba(0,0,0,.12);
    padding: .1rem 0;
    display: inline-block;
}

.fixBtn .create-assignment-button:hover {
    background-color: #248C7F;
}

.fixBtn .create-assignment-button .create-assignment-text {
    margin: 0;
    padding: 0;
    font-size: .6em;
    line-height: 1.2em;
    font-weight: 500;
    font-size: 15px;
}

/* helper classes */
.hover-delete:hover {
    color: red;
}

.hover-edit:hover {
    color: blue;
}

.pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}