/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/deeppurple-amber.css";
@import "~angular-notifier/styles";

body { 
    font-family: Roboto, Arial, sans-serif;
    margin: 0;
  }

table {
    width: 100%;
  }

table tr:hover {
    background-color: grey;
}

.mat-header-row:hover {
    background-color:rgb(255, 255, 255);
}

/* helper classes */
.hover-red:hover {
    color: red;
}

.pointer {
    cursor: pointer;
}

.dialog-close {
    position: relative;
    left: 97%;
    bottom: 90px;
    cursor: pointer;
    color: black;
    font-size: 40px;
    font-weight: bold;
    line-height: 0px;
}

.dialog-close::before {
    content: '×';
}

.margin-top-10 {
    margin-top: 10px;
}


.fixBtn {
    position: fixed;
    bottom: 30px;
    right: 25px;
    z-index: 9999;
    cursor: pointer;
    font-weight: 700;
}

.fixBtn .create-assignment-button {
    text-align: center;
    background-color: #009eff;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    color: #fff;
    box-shadow: 2px 2px 3px #00000026;
    padding: .1rem 0;
    display: inline-block;
}

.fixBtn .create-assignment-button .create-assignment-text {
    margin: 0;
    padding: 0;
    font-size: .6em;
    line-height: 1.2em;
    font-weight: 500;
    font-size: 13px;
}
